/*==== Fonts ====*/

@import url('https://fonts.googleapis.com/css?family=Francois+One|Ropa+Sans');


/*==== Universal ====*/
.text-white {
  color: white;
}

hr {
  border: 0;
  height: 3px;
  width: 15%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255,127,80, 0.75), rgba(0, 0, 0, 0));
  margin-top: 30px;
  margin-bottom: 30px;
}

.font-francois {
    font-family: "Francois One", sans-serif;
}

.font-ropa {
    font-family: "Ropa Sans", sans-serif;
}

.fcc {
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  font-size: 40px;
  font-family: "Francois One", sans-serif;
  color: white;
}


/*====Navbar v2 ====*/

.navbar-default {
  background-color: transparent;
  border: none;
}

.navbar-nav {
  margin: 0px -15px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: white /*Orange*/;
  background-color: rgba(0, 0, 0, .3);
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover,  {
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
}

.navbar-header {
  background-color: transparent;
}

.navbar-collapse {
  border: none;

}

.navbar-collapse ul {
  border: 1px solid lightgrey;
}

 .navbar-collapse li{
  background-color: skyblue;
}

.navbar-toggle {
  background-color: lightgrey;
}


/*==== Jumbotron ====*/
.jumbotron {
  height: 100vh;
  width: 100%;
  margin-bottom: 0;
  background-image: url(../img/sky.jpg);
  background-size: cover;
  background-position: center;
}

h1 {
  margin-top: 70px;

}

.descrip {
  font-size: 12px;
  width: 40%;
  left: 30%;
  position: relative;
}
/*==== Nav Tabs ====*/
.navbar-default {
  background-color: transparent;
  border: none;
}

.font18 {
  font-size: 30px
}

.breadcrumb{
  width: 51%;
  margin: 0 auto;
}

.nav-style {
  text-decoration: none;
}

.box-area {
  background-color: rgba(0, 0, 0, .1);
  max-height: 300px;*/
  border-radius: 3px;
  /*margin-top: 1%;*/
  border-bottom: 1px
}

.nav-tabs>li {
    float:none;
    display:inline-block;
    width: 20%;
    text-transform: uppercase;
}

.nav-tabs {
    text-align:center;
    border: none;
}

.tab-font{
  font-size: 18px;
}

/*====Animation ====*/


/*===== Work ====*/
.work {
  width: 100%;
  height: 100vh;
}



.work-left{
  background-color: skyblue;
  height: 100vh;
  font-size: 40px;
}

.work-right{
  height: 100vh;
}


.flexbox {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}



.work-1 {
  /*background-color: lightpink;*/
  height: 33.3vh;
  border-bottom: 1px solid lightgrey;
  font-size: 22px;
}

.work-1-img{
  background-image:url("../img/dog1.png");
  min-width: 186px;
  width: 250px;
  max-height:80%;
  min-height: 80%;
  border: 1px solid rgba(255,127,80, 0.75) ;
  margin-right: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: skyblue;
  background-size: cover;
}

.work-1-img:hover{
  background-image:url("../img/petstore.png") ;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.work-2 {
  background-image:url("../img/wood.png");
  min-width: 186px;
  width: 250px;
  max-height:80%;
  min-height: 80%;
  border: 1px solid rgba(255,127,80, 0.75) ;
  margin-right: 30px;
  background-position: center;
  }

.work-2:hover{
  background-image:url("../img/logo-11.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: grey;
}

.work-3 {
  background-image:url("../img/in-prog.png");
  min-width: 186px;
  width: 250px;
  max-height:80%;
  min-height: 80%;
  border: 1px solid rgba(255,127,80, 0.75) ;
  margin-right: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

.work-3:hover{
  background-image:url("../img/in-prog2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: grey;
}

/*==== About Me ====*/

.about {
  width: 100%;
  height: 100vh;
}

.about h3 {
  color: grey;
}
.about-right{

  height: 100vh;
  background-color: #bdc3c7; /*silver*/
}

.about-left{

  background-color: white;
  color: grey;
  height: 100vh;
  font-size: 40px;
}

.about-1 {
  background-color: lightgreen;
  height: 33.3vh;
  font-size: 18px;
}

.about-1 img {
  border: 1px solid rgba(255,127,80, 0.75);
  margin-right: 20px;
  max-height: 250px;
}

/*====Contact ====*/
.contact {
  width: 100%;
  height: 100vh;
}



.contact-left{
  background-color: skyblue;
  height: 100vh;
  font-size: 40px;
}

.contact-right{
  height: 100vh;
}

.contact-1 {
  background-color: blanchedalmond;
  border:3px solid lightgrey;
  height: 33.3vh;
  font-size: 18px;
}






/*==== Media Query ====*/
@media screen and (max-width: 1199px) {
  .work-left, .work-right, .work-1, .work-2, .work-3, .about-left, .contact-left {
    height: 25vh
  }

  .work-right, .about-right, .contact-right {
    height: 75vh;
  }
  .about-left {
    background-color: skyblue;
  }
  .about-left h3 {
    color:white;
  }

}

@media screen and (max-width: 500px) {
   .list-inline{

  }
}
/*@media screen and (max-width: 1346px) and (min-width: 768px){
  .contact-1{
    width: 39vh;
  }
  .about-1 {
    width: 39vh;
  }
}

@media screen and (max-width: 1345px) and (min-width: 1050px){
  .contact-1{
    width: 54vh;
  }
  .about-1 {
    width: 54vh;
  }
}

@media screen and (max-width: 767px){
  .jumbotron {
    height: 60vh
  }

  .jumbotron p {
    font-size: 16px;
  }

  .breadcrumb {
    width: 80%;
  }
  .descrip {
    width: 60%;
    left: 20%;
  }
  h1 {
    margin-top: 30px;
  }
  .work-left {
    height: 150px;
    width: 100%;
  }

  .work-right{
    height: 150px;
    width: 100%;
  }
  .about-left {
    height: 150px;
    width: 100%;
  }

  .about-right{
    height: 250px;
    width: 100%;
  }
  .about{
    margin-top: 150px;
    height: 400px;
  }
  .about-1 {
    height: 15vh;
    width: 54vh;
  }

  .contact {
    height: 31vh;
  }
  .contact-left {
    height: 150px;
    width: 100%;
  }

  .contact-right{
    height: 150px;
    width: 100%;
  }
  .contact-1 {
    height: 15vh;
    width: 54vh;
  }

}

@media screen and (max-width: 508px){
  .breadcrumb {
    width: 100%;
  }
  .about-1 {
    height: 26vh;
    width: 27vh;
  }
  .contact-1 {
    width: 27vh;
  }
  .contact {
    height: 33vh;
  }
  .font18{
    font-size: 16px;
  }

}*/



/*==== END ====*/
